<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Form</title>
</head>
<body>
<h1>Edit Form</h1>  
<form th:action="@{'/savepriduct/'+${id}}" th:object="${product}" method="post">

    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" /><br /><br />

    <label for="brand">Brand:</label>
    <input type="text" id="brand" th:field="*{brand}" /><br /><br />

    <label for="madeIn">Made In:</label>
    <input type="text" id="madeIn" th:field="*{madeIn}" /><br /><br />

    <label for="price">Price:</label>
    <input type="number" id="price" th:field="*{price}" /><br /><br />

    <label for="quantity">Quantity:</label>
    <input type="text" id="quantity" th:field="*{quantity}" /><br /><br />

    <label for="discountRate">Discount Rate:</label>
    <input type="text" id="discountRate" th:field="*{discountRate}" /><br /><br />

    <button type="submit">Submit</button>
</form>
</body>
</html>


