<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
</head>
<body>
<div>
    <h2>Product List</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Made In</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount Rate</th>
                <th>Tax Rate</th>
                <th>Discount Price</th>
                <th>Offer Price</th>
                <th>Final Price</th>
                <th>Stock Value</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
           
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.brand}"></td>
                <td th:text="${product.madeIn}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.quantity}"></td>
                <td th:text="${product.discountRate}"></td>
                <td th:text="${product.taxprice}"></td>
                <td th:text="${product.discountprice}"></td>
                <td th:text="${product.offerPrice}"></td>
                <td th:text="${product.finalprice}"></td>
                <td th:text="${product.stockvalue}"></td>
                <td>
                <a th:href="@{'/delete/'+${product.id}}">Delete</a>
<a th:href="@{'/edit/'+${product.id}}">Edit</a>
                
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
