<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <h2>Search for a Product</h2>
    <form th:action="@{/searchid}" method="post">
        <label for="id">Enter ID:</label>
        <input type="number" name="id" required>
        <button type="submit">Search</button>
    </form>

    <div th:if="${product != null}">
        <h2>Product Details</h2>
        <p><strong>ID:</strong> <span th:text="${product.id}"></span></p>
        <p><strong>Name:</strong> <span th:text="${product.name}"></span></p>
        <p><strong>Brand:</strong> <span th:text="${product.brand}"></span></p>
        <p><strong>MadeIn:</strong> <span th:text="${product.madeIn}"></span></p> 
        <p><strong>Price:</strong> <span th:text="${product.price}"></span></p> 
        <p><strong>Quantity:</strong> <span th:text="${product.quantity}"></span></p>
         <p><strong>DiscountPrice:</strong> <span th:text="${product.discountprice}"></span></p>
         <p><strong>TaxPrice:</strong> <span th:text="${product.taxprice}"></span></p>
         <p><strong>DiscountRate:</strong> <span th:text="${product.discountRate}"></span></p>
         <p><strong>OfferPrice:</strong> <span th:text="${product.offerPrice}"></span></p>
         <p><strong>FinalPrice:</strong> <span th:text="${product.finalprice}"></span></p>
         <p><strong>StockValue:</strong> <span th:text="${product.stockvalue}"></span></p>
    </div>

    <div th:if="${product == null}">
        <p>No Product Found with Given ID</p>
    </div>
</body>
</html>
